.App{
  background-color: #afd4c0;
  
}
.main {
  display: flex;
  justify-content: center;
}
.Dash {
  background-color: #e5f4ec;
  width: 40vw;
  display: flex;
  margin: 50px;
  /* align-items: center; */
  /* justify-content: center; */
}

.Header {
  background-color:#519872;
  color: white;
  margin:0;
  display: flex;
  justify-content: flex-start;
}

.House img {
  width: 200px;

}